.styles{
    text-align: justify;
}
h4{
    color: chartreuse;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    border: 10px solid red;
    border-radius: 15px;
    box-shadow: 5px 10px #b3181818;
    visibility: collapse;
}
.p1{
    border: 2px;
    border-color: brown;
    display: block;
    height: 40px;
    width: 50px;
}
.p2{
    border: 10px solid green;
    display: inline-block;
    height: 40px;
    width: 50px;
}
#p3{
    border: 2px;
    border-color: brown;
    display: inline;
    height: 40px;
    width: 50px;
}
body{
    
    background-image: url("images/g.jpg");
    background-repeat: none;
    
    
}